html {
  height: 100%;
  background-color: #F1FCFC;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

rect:hover {
  fill: #72B5B7;
}

div {
  width: 200px;
  height: 100px;
  position: absolute;
  background-color: #72B5B7;
  text-align: center;
  line-height: 50px;
  visibility: hidden;
  border: 3px solid #633A82;
  color: #633A82
}
